<div class="container">
  <h4>Create a new Project</h4>

  <div>
    <%= form_with model: @new_project do |f| %>
      <div class="container w-50 p-5">
        <div class="card shadow-sm">
          <div class="card-header">
            <h5>Project form</h5>
          </div>

          <div class="card-body">
            <div class="mb-1 w-50 p-3 w-100">
              <%= f.label :name, "Project Name", class: "form-label" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="mb-1 p-2 d-flex justify-content-between align-items-center">
              <%= link_to_add_association(
                'Add a task',
                f,
                :tasks,
                {
                  class: "btn-warning btn links",
                  "data-association-insertion-node": "#task-container",
                  "data-association-insertion-method": "prepend",
                }
              )%>
              <%= f.button "Submit Project", class: "btn-success btn" %>
            </div>
          </div>

        </div>
      </div>
      <div class="container">
        <div class="row row-cols-4 g-2" id="task-container">
          <%= f.fields_for :tasks do |task| %>
            <%= render 'task_fields', {f: task} %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
